# Extensiones de editores (VS Code, Sublime, etc.)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Logs y archivos temporales
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tmp/

# Si decides usar alguna librería en el futuro vía npm
node_modules/
dist/
build/